body {
    background-image: url('./../Clash-Royale-Wallpaper-Desktop-2.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.resultado-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.resultado-box {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 40px;
    border-radius: 1rem;
    text-align: center;
    color: white;
    width: 90%;
    max-width: 600px;
}

.btn {
    margin-top: 20px;
    padding: 12px;
    border: none;
    background-color: #00c853;
    color: white;
    border-radius: 8px;
    font-size: 1rem;
}

.btn:hover {
    background-color: #00e676;
}
.tablero{
    border: 2px solid black;
    background-color: red;
    width: 20%;
    text-align: center;
}